<ul [ngStyle]="{'background-color': backgroundColor }">
    <!-- ngFor 指令是一个结构型指令，会在以所在的宿主节点为模版，循环创建节点 -->
    <!-- menus 是定义在组件中的一个数组，而对数组中的每一个元素赋值给 menu 这个变量 -->
    <li *ngFor="let menu of menus; let i = index;">
        <a
           [ngStyle]="{ color: i === selectedIndex ? titleActiveColor : titleColor }"
           [class.active]="i === selectedIndex" (click)="handleSelection(i) "
        >
            {{ menu.title }}
        </a>
        <span
            class = "indicator"
            [ngStyle]="{ 'background-color': indicatorColor }"
            *ngIf="i === selectedIndex"
        ></span>
    </li>
</ul>
